#canvas {
  background-image: url("./images/background.png");
  margin: auto;
}

.main {
  display: flex;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #A51834;
  text-align: center;
  font-size: 40px;
  margin: 5px;
}

body {
  background-color: #D1F2F2;
}
