#canvas {
  background-image: url("./images/background.png");
  position: absolute;
  margin: 100px auto 0; left: 0; right: 0;

}



.profile-links {
    position: absolute;
    right: 50px;
    // align-items: center;
}

.linkedin {
  height: 80px;
}

.github {
  height: 55px;
  position: relative;
  bottom: 13px;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #A51834;
  text-align: center;
  font-size: 40px;

  position: absolute;
  margin: 5px auto; left: 0; right: 0;
}

body {
  background-color: #D1F2F2;
}

.right {
  height: 200px;
  width: 310px;
}

.background {
  display: flex;
  justify-content: space-between;
  padding: 150px 100px;
}
.ship {
  height: 200px;
  margin-top: 50px;
}

.ship:hover {
  opacity: 0.6;
}

.themes {
  padding-right: 100px;
}
#doodle {
  height: 150px;
}
