#canvas {
  background-image: url("./images/background.png");
  margin: auto;
}

.main {
  display: flex;
}

.main * {
  margin: 100px;
}

img {
  height: 200px;
}

img:hover {
  opacity: 0.6;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #A51834;
  text-align: center;
  font-size: 40px;
  margin: 5px;
}

body {
  background-color: #D1F2F2;
}

.right {
  height: 200px;
  width: 310px;
}
