* {
  animation-play-state: inherit;
  animation-fill-mode: forwards;
  animation-duration: inherit;
}

#canvas {
  background-image: url("./images/background.png");
  margin: 0 50px;

}
header {
  display: flex;
  padding: 0 100px;
}


.profile-links *:hover {
  opacity: 0.8;
}

.linkedin {
  height: 80px;
}

.github {
  height: 55px;
  position: relative;
  bottom: 13px;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #A51834;
  text-align: center;
  font-size: 46px;

  position: relative;
  left: 70px;
  margin: auto;
}

h2 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #A51834;
  font-size: 30px;
  text-align: center;

}

body {
  background: #D1F2F2;
  background: -webkit-linear-gradient(#D1F2F2, #4ca2cd);
  min-width: 1315px;
}

.right {
  height: 200px;
  width: 310px;
}

.background {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}
@keyframes change {
  100% {top: 0px;}

}
.ship {
  height: 200px;
  margin: auto;
  position: relative;
  top: 100px;
  animation-name: change;
}

.ship:hover {
  opacity: 0.6;
}

.left {
  animation-name: show-text;
  animation-duration: 3s;
  animation-play-state: paused;
  width: 310px;
  position: relative;
  bottom: 70px;
}

.left:hover {
  animation-play-state: running;
}

.triangle {
  margin: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-bottom:125px solid transparent;
  position: relative;
  bottom: 50px;
  animation-name: show-triangle;
}

@keyframes show-info {
100% {
  color: black;
  background-color: rgba(353, 92, 45, 0.7);
  }
}

@keyframes show-triangle {
  100% {border-bottom:125px solid rgba(353, 92, 45, 0.7);}
}

.rules {
  margin: 0;
  margin: auto;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 18px;
  max-width: 250px;
  text-align: center;
  color: transparent;
  background-color: transparent;
  position: relative;
  bottom: 50px;
  animation-name: show-info;
}


.themes {
  width: 310px;
}

#doodle {
  height: 150px;
}

#spongebob {
  height: 150px;
  position: relative;
  left: 10px;
}

#doodle:hover {
  opacity: 0.6;
}

#spongebob:hover {
  opacity: 0.6;
}
